@model HeartyBeat.Data.Tracker

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-5">
    <h1 class="mb-4">Tracker Details</h1>

    <div class="card">
        <div class="card-header">
            <h4>Tracker Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.HeartRate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.HeartRate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Steps)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Steps)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-custom-create">Edit</a>
            <a asp-action="Index" class="btn btn-custom-back ml-2">Back to List</a>
        </div>
    </div>
</div>
