@model IEnumerable<HeartyBeat.Data.Tracker>

@{
    ViewData["Title"] = "Tracker";
}

<div class="container mt-5">
    <h1 class="mb-4">Trackers</h1>

    <p>
        <a class="btn btn-custom-create" asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HeartRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Steps)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeartRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Steps)
                    </td>
                    <td>
                        <a class="btn btn-custom-edit btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-custom-details btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-custom-delete btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>